<div style="height:100%;">
  <div class="row" style="height:100%;">
    <div class="col-6 left-div">
      <div class="left-block left-block-logo">
        <img src="/assets/logo/wedoor.png" alt="logo_wedoor">
        <div>
          <span>Saisie de commande</span>
          <span>Porte de garage basculante</span>
        </div>
      </div>
    </div>
    <div class="col-6 right-block" style="background: white">
    	<h1>Mes commandes</h1>
    	<h3>Informations de commande</h3>
    	<div>
    		
    	</div>
    </div>
  </div>
</div>