<div>
  <div class="submit-form">
    <div *ngIf="!submitted">

        <!-- PASSWORD -->
        <div class="form-group">
            <label for="password">Password</label>
            <input
              class="form-control"
              id="password"
              required
              [(ngModel)]="user.password"
              name="description"
            />
          </div>
  
          <!-- PASSWORD VERIFICATION -->
          <div class="form-group">
            <label for="password-verification">Password Verification</label>
            <input
              class="form-control"
              id="password-verification"
              required
              [(ngModel)]="user.password_verification"
              name="description"
            />
          </div>
          <button (click)="updatePassword()" class="btn btn-success">Update</button>
        </div>
      </div>
</div>
  