<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <!-- EMAIL -->
            <div class="form-group">
            <label for="email">Email</label>
            <input
            class="form-control"
            id="email"
            required
            [(ngModel)]="forgotPassword.email"
            name="description"
            />
            </div>
            <button (click)="forgotPasswordUser()" class="btn btn-success">Submit</button>
        </div>
    </div>
</div>
  